@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('Arial-ItalicMT.svg#Arial-ItalicMT') format('svg'),
       url('Arial-ItalicMT.ttf') format('truetype'),
       url('Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arialitalic';
  src: url('Arialitalic.eot');
  src: url('Arialitalic.eot?#iefix') format('embedded-opentype'),
       url('Arialitalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

