header {
    background-color: $color-light;
    background-size: 100%;
    padding-top: 20px;
    padding-bottom: 18px;
    @include media-min-tablet {
        height: 118px;
    }
    .header__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include media-min-tablet {
            padding-bottom: 0px;
        }
        .logo {
            a {
                text-decoration: none;
                .logo__title {
                    color: $color-dark-head;
                    letter-spacing: .2rem;
                    @extend %font-georgia;
                    @include font($size: 3.2rem, $height: 115%);
                    
                }
                .logo__subtitle {
                    padding-left: 4.5px;
                    color: $color-text-button;
                    letter-spacing: .13rem;
                    @extend %font-arial;
                    @include font($size: 1.3rem, $height: 115%);
                }
            }
        }
        .navigation {
            display: flex;
            justify-content: space-evenly;
            .navigation__link {
                list-style: none;
                padding-left: 35.6px;
                @include media-min-laptop {
                    padding-left: 36px;
                    &:first-child {
                        padding-left: 0px;
                    }
                }
                padding-bottom: 5px;
                letter-spacing: .0005rem;
                @extend %font-arial;
                @include font($size: 1.5rem, $height: 115%);
            }
            .link_active {
                a {
                    color: $color-text-button;
                    text-decoration: none;
                    @extend %link-bordered;
                }
            }
            .link_no-active {
                a {
                    color: $color-dark-head;
                    text-decoration: none;
                    transition: 0.5s ease;
                    &:hover {
                        @extend %link-bordered;
                    }
                }
            }
            // @include media-tablet {
            //     display: none;
            // }
            @include media-min-tablet {
                display: none;
            }
            @include media-mobile {
                display: none;
            }
        }
    }
}
.sticky {
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    @include media-min-laptop {
        width: 100%;
    }
    @include media-min-tablet {
        width: 100%;
        height: 81px;
    }
}
.sticky.active {
    @include media-min-tablet {
        position: absolute;
        width: 100%;
        height: 81px;
    }
    // @include media-tablet {
    //     position: absolute;
    // }
}

#promo.active {
    @include media-min-tablet {
        //display: block;
        background-color: $color-light;
        background-size: 100%;
        background-position: right top;
        background-repeat: no-repeat;
        transition: 0.5s;
        z-index: 4;
        height: 700px;
    }
}
// #promo.active {
//     @include media-tablet {
//         background-color: $color-light;
//         background-size: 100%;
//         background-position: right top;
//         background-repeat: no-repeat;
//         transition: 0.5s;
//         z-index: 4;
//         height: 700px;
//     }
// }
// #layout_2_column_promo.active {
//     @include media-tablet {
//         display: none;
//     }
// }
#layout_2_column_promo.active {
    @include media-min-tablet {
        display: none;
    }
}
// #navigation.active {
//     @include media-tablet {
//         display: block;
//         margin: 0 auto;
//     }
// }
#navigation.active {
    @include media-min-tablet {
        display: block;
        margin: 0 auto;
    }
}
#header__navigation {
    @include media-laptop {
        display: none;
    }
    @include media-min-laptop {
        display: none;
    }
    // @include media-tablet {
    //     display: none;
    // }
    @include media-min-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}
// #header__navigation.active {
//     @include media-tablet {
//         display: block;
//         position: absolute;
//         top: 150px;
//         list-style: none;
//         text-align: center;
//         margin: 107px auto;
//         text-align: center;
//         #link_active, #link_no_active_1, #link_no_active_2, #link_no_active_3 {
//             padding-bottom: 40px;
//             @include media-tablet {
//                 padding-bottom: 56px;
//                 font-size: 3.2rem;
//                 text-align: center;
//                 // margin-left: -45px;
//             }
//         } 
//     }
// }
#header__navigation.active {
    @include media-min-tablet {
        display: block;
        position: absolute;
        top: 150px;
        list-style: none;
        text-align: center;
        margin: 107px auto;
        text-align: center;
        #link_active, #link_no_active_1, #link_no_active_2, #link_no_active_3 {
            padding-bottom: 40px;
            @include media-min-tablet {
                padding-bottom: 56px;
                font-size: 3.2rem;
                text-align: center;
                margin-left: -45px;
            }
        } 
    }
}
#myHeader.active {
    @include media-min-tablet {
        //position: absolute;
        height: 600px;
    }
    // @include media-tablet {
    //     //position: absolute;
    //     height: 600px;
    // }
}