$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-link-active:#FAFAFA;
$color-link-no-active: #CDCDCD;
$color-background: #F6F6F6;
$color-light: #FFFFFF;
$color-text-button: #292929;
$color-dark-head: #545454;
$color-dark-sub: #4C4C4C;
$color-legal-info: #B2B2B2;

$content-width: 1200px;

$laptop-width: 1280px;
$tablet-width: 768px;
$mobile-small-width: 320px;
