@font-face {
  font-family: 'ArialMT';
  src: url('ArialMT.svg#ArialMT') format('svg'),
       url('ArialMT.ttf') format('truetype'),
       url('ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialRegular';
  src: url('ArialRegular.eot');
  src: url('ArialRegular.eot?#iefix') format('embedded-opentype'),
       url('ArialRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

